
.ul__container {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin: 100px auto 0;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
}

.img {
  width: 270px;
  height: 170px;
  border-radius: 14px;
}

@media (max-width: 800px) {
  .img {
    width: 295px;
    height: 166px;
  }
}

//  .carousel-item {
//    border-radius: 14px;
//    overflow: hidden;
//    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//    transition: transform 0.3s ease;
//
//    &:hover {
//      transform: scale(1.05);
//    }
//
//    img {
//      width: 100%;
//      height: auto;
//      display: block;
//    }
//  }
//}
//
//.custom-arrow {
//  cursor: pointer;
//  width: 48px;
//  height: 48px;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  border-radius: 50%;
//  background-color: white;
//  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//  transition: background-color 0.3s ease;
//
//  &:hover {
//    background-color: #f0f0f0;
//  }

//  svg {
//    width: 24px;
//    height: 24px;
//    stroke: #1a1a1a;
//    stroke-width: 2;
//    stroke-linejoin: round;
//  }
//}
