.container {
  background: #000000;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  padding: 10px 27px 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 25px 0;
  }
}

.cross {
  position: absolute;
  top: 50px;
  right: 34px;
  font-weight: 100;
  font-size: 24px;
  color: #626262;
}

.title__withdraw__container {
  margin-top: 120px;
}

.title__withdraw {
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
}

.inp__withdraw__container {
  margin-top: 40px;
  position: relative;
}

.inp__label {
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.inp__withdraw {
  font-family: 'Outfit', sans-serif;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #626262;
  background: transparent;
  padding: 20px 40px 20px 14px;
  color: #FFFFFF;
  font-size: 14px;
}

.inp__withdraw:focus,
.inp__withdraw:active {
  border-color: #626262;
  outline: none;
}

.inp__withdraw__auth {
  position: relative;
}

.paste__container {
  position: absolute;
  top: 50px;
  right: 20px;
}

.paste {
  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #A2F2A9;
}

.inp__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon__container {
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.error__container {
  padding: 26px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -10px;
  width: 90%;
  margin: 0 auto;

}

.error__text {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.btn {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 56px;
  width: 100%;
  background: #A2F2A9;
  color: #000000;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 80px;
}
